html {
  height: 100%;
  overflow: visible;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  backface-visibility: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: #15202b;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 73.125rem;
  padding: 0 0.93rem;
  margin: 0 auto;
}

section {
  padding: 7.5rem 0 4.5rem;
}

p, h1, h2, h3, a, li {
  user-select: none;
}

a {
  outline: none;
  cursor: pointer;
}

.groupIntro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.groupIntro h1 {
  font-size: 3rem;
}

.groupIntro hr {
  width: 8rem;
  height: .2rem;
  border: none;
  margin: 1rem 0;
}

.groupIntro p {
  font-size: 1.1rem;
  width: 33rem;
  text-align: center;
}

.introLight {
  color: #fff;
}

.introLight hr {
  background: #fff;
}

.introDark {
  color: #15202b;
}

.introDark hr {
  background: #15202b;
}

.header {
  font-size: 2rem;
  font-weight: 300;
  color: #15202b;
  width: 100%;
  text-align: center;
  margin: 1rem 0 0;
}

.fadeIn {
  opacity: 1;
  transition: .75s ease;
}

.fadeOut {
  opacity: 0;
  transition: .25s ease;
}

/* /////////////////////////////////////////////////// */

/* NAVIGATION BAR */

/* Globals */

.active {
  color: #15202b;
}

/* Non-Gobals */

nav {
  background: #fff;
  width: 100%;
  height: 5.5rem;
  display: flex;
  position: fixed;
  z-index: 999;
}

#navGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav #brand {
  font-size: 1.8rem;
  font-weight: 300;
  color: #15202b;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-size: 1.1rem;
  color: #212529ad;
  margin: 0 1.1rem;
}

#btnContact {
  color: #fff;
  background: #20c997;
  padding: 0.4rem .8rem;
}

#navHamburger, #navGroup div, #underline {
  display: none;
}

/* Animation */

#underline {
  background: #212529;
  width: 2.56rem;
  height: .15rem;
  border: none;
  position: absolute;
  transition: .5s ease;
}

#underline .fadeOut {
  transition: .1s ease;
}

/* /////////////////////////////////////////////////// */

/* ABOUT ME */

#sectionAbout {
  padding: 7.5rem 0 2rem;
  display: flex;
  justify-content: center;
}

#portrait {
  background: url("../images/about/portrait3.jpg") center/cover;
  width: 20rem;
  height: 20rem;
  border-radius: .35rem;
  opacity: .85;
}

#groupAboutText {
  color: #fff;
  margin: 0 0 0 1.6rem;
}

#groupAboutText h1 {
  font-size: 7rem;
}

#groupAboutText h1 span {
  color: #20c997;
}

#txtAbout {
  font-size: 1.1rem;
  width: 42rem;
  padding: 0 0 0 .5rem;
}

#groupMediaLinks {
  width: 27.5rem;
  margin: 1.1rem 0 0 .55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mediaLinks {
  font-size: 2.5rem;
  color: #fff;
}

.mediaLinks:hover {
  cursor: pointer;
  color: #20c997;
}

#groupMediaLinks p {
  font-size: 1.05rem;
  color: #ffffffa1;
}

#groupMediaLinks p:hover {
  color: #fff;
  user-select: text;
}

/* /////////////////////////////////////////////////// */

/* SKILLS */

/* Intro & Global */

#sectionSkills {
  background: #f4f4f4;
}

#groupSkills {
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#sectionSkills .skillCard h1, .skillCard p, .skillCard b {
  color: #15202b;
}

#groupSkills #tip {
  font-size: 1.5rem;
  color: #000000a3;
  width: 100%;
  text-align: center;
}

#groupSkills span {
  font-weight: 600;
  color: #15202b;
}

/* Skill Cards */

.skillCard {
  background: #fff;
  width: 19rem;
  height: 20rem;
  border-radius: .35rem;
  box-shadow: 0 0.125rem .25rem rgba(0, 0, 0, 0.1);
  margin: 4rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.skillCard i {
  color: #fff;
  background: #20c997;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2.5rem;
}

.skillCard hr {
  background: #212529;
  width: 3rem;
  height: .11rem;
  border: none;
  margin: 1rem;
}

.skillCard p {
  font-size: 1.1rem;
  width: 80%;
  text-align: center;
  transition: .35s ease;
}

#iconHTML, #iconCSS {
  font-size: 3.5rem;
  padding: .5rem 0 0;
}

#iconJS {
  font-size: 2.8rem;
}

/* Key skill areas */

.keySkills {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.95rem;
  display: block;
  position: absolute;
  top: 8rem;
  transition: .35s ease;
}

/* Skills learning */

#groupSkillsLearning {
  background: #fff;
  width: 65.5rem;
  max-height: 4.5rem;
  border-radius: .35rem;
  box-shadow: 0 0.125em .25em rgba(0, 0, 0, 0.1);
  margin: 2em 2em 0;
  padding: 3.5rem 0 .3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  transition: .5s ease;
}

#groupSkillsLearning i {
  font-size: 3rem;
  color: #20c997;
  position: absolute;
  top: .75rem;
  transform: rotate(0deg);
  z-index: 20;
  transition: .5s ease;
}

.learningSkillsCard {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #20c997;
  width: 30%;
  height: auto;
  text-align: center;
  border-radius: .35rem;
  box-shadow: 0 0.125em .25em rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 2rem;
}

.learningSkillsCard h1 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

.learningSkillsCard p {
  font-size: 1.1rem;
}

/* Skills Learning Animations */

.skillsExpanded {
  max-height: 25rem !important;
  transition: .5s ease;
}

.skillsExpanded i {
  transform: rotate(180deg) !important;
}

/* /////////////////////////////////////////////////// */

/* PROJECTS */

/* CLASS STYLING */

#groupProjects {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showcase {
  background: #fff;
  width: 50rem;
  box-shadow: 0 .5px 2px rgba(0,0,0,0.3);
  margin: 2.5rem 0;
  display: inline-grid;
  grid-template-columns: 50% 50%;  
}

.imageHalf {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
}

.textHalf {
  color: #15202b;
  padding: 1.5rem;
}

.textHalf .title {
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 0 .5px 1px rgba(0,0,0,0.1);
  padding-left: .1rem;
}

.textHalf h2 {
  font-size: 1rem;
  color: #00000059;
  margin: 0 .4rem;
}

.textHalf p {
  font-size: 1.1rem;
  text-shadow: 0 .5px 1px rgba(0,0,0,0.1);
  margin: .6rem .4rem 1rem;
}

.textHalf .techUsed {
  font-size: 2rem;
  font-weight: 300;
  margin-left: .4rem;
}

.textHalf div {
  margin: 1rem .4rem;
  display: flex;
}

.textHalf div i {
  color: #20c997;
  background: #15202b;
  width: 5rem;
  height: 5rem;
  margin: 0 .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textHalf #iconJS {
  font-size: 3.5rem;
}

.textHalf #iconAdobe {
  font-size: 4rem;
}

.projectLink {
  font-size: 1.3rem;
  text-shadow: 0 .5px 1px rgba(0,0,0,0.3);
  height: 3.5rem; 
  border-top: 2px solid rgba(0,0,0,.02);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.liveDemo {
  color:#fff;
  background:#252f3a;
}

.liveDemo:hover {
  background: #1b252f;
}

.githubVersion {
  color: #15202b;
  background: #dedede;
}

.githubVersion:hover {
  background: #80dbc0;
}

/***********************************/
/* INDIVIDUAL PROJECT STYLING */

/* BATTLESHIPS */

#showcaseBattleships .imageHalf {
  background: #333;
}

#showcaseBattleships .imageHalf div {
  background: url("../images/projects/battleships.png") center/23rem no-repeat;
}

/* UNIQUE WORDS */

#showcaseUniqueWords .title {
  font-size: 3.2rem;
}

#showcaseUniqueWords .imageHalf {
  background: #f4f4f4;
}

#showcaseUniqueWords .imageHalf div {
  background: url("../images/projects/uniqueWords.png") center/18rem no-repeat;
}

/* CALCULATOR */

#showcaseCalculator .imageHalf {
  background: #ff4b28;
}

#showcaseCalculator .imageHalf div {
  background: url("../images/projects/calculator.png") center/18rem no-repeat;
}

/* GOBLIN CATCHER */

#showcaseGoblinCatcher .title {
  font-size: 3.2rem;
}

#showcaseGoblinCatcher .imageHalf div {
  background: url("../images/projects/goblinCatcher.png") center/cover no-repeat;
}

/*///////////////////////////////////////////////////////*/

/* CONTACT ME */

#sectionContact {
  background: #f4f4f4;
  padding: 7.5rem 0;
}

#sectionContact .groupIntro p {
  width: 29rem;
}

#contactForm {
  width: 31rem;
  margin: 2.5rem auto 0;
  display: flex;
  justify-content: center;
}

#contactForm h3, #contactForm textarea, #contactForm button {
  font-size: 1rem;
  height: 3rem;
  border: none;
  box-shadow: 0 0.125em .25em rgba(0, 0, 0, 0.1);
  padding: .65rem .9rem;
}

#contactForm h3, #contactForm textarea {
  font-size: 1.1rem;
  color: #15202bcf;
}

#contactForm h3 {
  background: #fff;
  display: flex;
  align-items: center;
}

#contactForm textarea {
  resize: none;
  overflow: hidden;
  font-family: 'raleway', sans-serif;
  line-height: 1.8rem;
}

#contactForm textarea, #contactForm button {
  outline: none;
}

#contactForm textarea {
  width: 23rem;
  box-shadow: .19rem 0.125rem .25rem rgba(0, 0, 0, 0.1);
}

#contactForm textarea::selection {
  color: #15202bcf;
  background: #fff;
}

#contactForm button {
  font-size: 1.2rem;
  color: #20c997;
  background: #15202b;
  width: 7rem;
  box-shadow: .5px 0.125rem .25rem rgba(0, 0, 0, .35);
  position: relative;
}

#contactForm button:hover {
  cursor: pointer;
}

#contactForm button::-moz-focus-inner {
  border: 0;
}

#contactForm button span {
  background: #15202b;
  width: 12rem;
  border-radius: .8rem;
  padding: .5rem;
  position: absolute;
  top: 4.5rem;
  right: -3.85rem;
  opacity: 0;
  transition: .5s ease;
}

#contactForm button span::after {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: #15202b transparent transparent;
  position: absolute;
  top: -1.8rem;
  right: 6rem;
  transform: scaleY(-1);
}

/*//////////////////////////////////////////////////////*/

/* FOOTER */

#sectionFooter {
  height: 14rem;
  padding: 4.5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#copyright {
  color: #20c997;
  text-align: center;
}

#footerLinks {
  width: 20rem;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-around;
}

#footerLinks a {
  color: #15202b;
  background: #20c997;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footerLinks a:hover {
  cursor: pointer; 
  color: #20c997;
  background: #15202b;
  border: solid 3px #20c997;
}

.footerLink {
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}

#btnCredits {
  font-size: 1.5rem;
  font-weight: 700;
  width: 7rem;
  padding: 0 1rem;
}

/*//////////////////////////////////////////////////////*/
/*// 1200px 1200px 1200px 1200px 1200px 1200px 1200px //*/
/*//////////////////////////////////////////////////////*/

@media all and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  /* /////////////////////////// */

  /* ABOUT ME */

  #portrait {
    width: 18rem;
    height: 18rem;
  }
  
  #groupAboutText h1 {
    font-size: 6rem;
  }

  #txtAbout {
    width: 37rem;
  }

  /* /////////////////////////// */

  /* SKILLS */

  .learningSkillsCard {
    width: 29%;
  }
}

/*///////////////////////////////////////////////*/
/*// 992px 992px 992px 992px 992px 992px 992px //*/
/*///////////////////////////////////////////////*/

@media all and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* /////////////////////////// */

  /* ABOUT ME */

  #sectionAbout {
    align-items: center;
  }

  #portrait {
    width: 16rem;
    height: 16rem;
  }

  #groupAboutText h1 {
    font-size: 4.8rem;
  }

  #txtAbout {
    width: 29rem;
  }

  #groupMediaLinks {
    width: 26.5rem;
  }

  /* /////////////////////////// */

  /* SKILLS */

  .skillCard {
    width: 20rem;
    margin: 4rem .5rem 0;
  }

  .learningSkillsCard {
    width: 30%;
    margin: 1rem .5rem;
    padding: 1.5rem;
  }

  .skillsExpanded {
    max-height: 32rem !important; 
  }

  /* /////////////////////////// */

  /* PROJECTS */

  .showcase {
    width: 45rem;
    margin: 2rem 0;
  }

  .textHalf #iconAdobe {
    font-size: 3rem;
  }

  .textHalf #iconHTML, .textHalf #iconCSS {
    font-size: 3rem;
  }

  .textHalf #iconJS {
    font-size: 2.7rem;
  }

  #showcaseBattleships .title, #showcaseCalculator .title {
    font-size: 3.5rem;
  }
}

/*///////////////////////////////////////////////*/
/*// 786px 786px 786px 786px 786px 786px 786px //*/
/*///////////////////////////////////////////////*/

@media all and (max-width: 786px) {
  .container {
    max-width: 720px;
  }

  .groupIntro h1 {
    font-size: 2.5rem;
  }

  .groupIntro p {
    width: 32rem;
  }

  section {
    padding: 7rem 0 4rem;
  }

  nav {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 50;
  }

  #navGroup div {
    background: white;
    width: 100%;
    height: 5rem;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav i, nav h1 {
    z-index: 1;
  }

  nav i {
    font-size: 2rem;
    padding-right: 1rem;
    display: block;
  }

  nav ul hr {
    display: none;
  }

  nav ul {
    font-size: 2rem;
    background: #f4f4f4;
    width: 100%;
    height: 30rem;
    border-bottom: 2px solid #15202b;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: -30rem;
    left: 0;
    z-index: -1;
    transition: .8s;
  }

  #navItems li:nth-child(1) {
    margin: 5rem 0 0;
  }

  nav ul li a {
    font-size: 2rem;
  }

  #btnContact {
    color: #212529ad;
    background: none;
  }

  #underline {
    display: none !important;
  }

  #navHamburger {
    display: block;
  }

  /* Nav Animation Classes */
  
  .navExpanded {
    top: 0rem !important;
  }

  /* /////////////////////////// */

  /* ABOUT ME */

  #sectionAbout {
    padding: 7rem 0 2rem;
    flex-direction: column;
  }

  #portrait {
    width: 14.5rem;
    height: 14.5rem;
  }

  #groupAboutText {
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #groupAboutText h1 {
    font-size: 4rem;
    width: 78%;
    margin: .5rem 0;
    line-height: 4.5rem;
    
  }

  #groupAboutText h1 span {
    font-size: 4.8rem;
  }

  #txtAbout {
    width: 33rem;
    margin: .5rem 0;
    padding: 0;
  }

  #groupMediaLinks {
    width: 18rem;
    margin: 1rem 0 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  #groupMediaLinks a {
    margin: 0 .5rem 1rem;
  }

  /* //////////////////////////// */

  /* SKILLS */

  #groupSkillsLearning {
    width: 20rem;
    margin: 2rem 0 0;
  }

  .learningSkillsCard {
    width: 80%;
  }

  .skillsExpanded {
    max-height: 55rem !important;
  }

  /* //////////////////////////// */

  /* PROJECTS */

  #sectionProjects {
    padding: 7rem 0 2rem;
  }

  #groupProjects {
    margin: 1rem auto;
  }

  .showcase {
    width: 34rem;
    margin: 1.5rem 0;
    grid-template-columns: 100%;
    grid-template-rows: 20rem auto 5rem 5rem;
  }

  #showcaseBattleships .imageHalf div {
    background-size: 22rem;
  }

  #showcaseUniqueWords .imageHalf div, #showcaseCalculator .imageHalf div {
    background-position: center;
    background-size: 14rem;
  }
  
  #showcaseGoblinCatcher .imageHalf {
    background-position: center -4rem;
    background-size: 34rem;
  }

  #showcaseBattleships .title, #showcaseCalculator .title {
    font-size: 4.5rem;
  }

  #showcaseUniqueWords .title, #showcaseGoblinCatcher .title {
    font-size: 3.5rem;
  }

  .projectLink {
    height: auto;
  }

  /* //////////////////////////// */

  /* CONTACT ME */

  #contactForm button span {
    right: -.85rem;
  }

  #contactForm button span::after {
    right: 3rem;
  }
}

/*///////////////////////////////////////////////*/
/*// 576px 576px 576px 576px 576px 576px 576px //*/
/*///////////////////////////////////////////////*/

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .groupIntro h1 {
    font-size: 2rem;
  }

  .groupIntro p {
    font-size: 1rem;
    width: 100%;
  }

  /* /////////////////////////// */

  /* ABOUT ME */

  #groupAboutText p {
    width: 78%;
  }

  #groupSkills #tip {
    font-size: 1.3rem;
  }

  .skillCard {
    margin: 4rem 0 0;
  }

  .header {
    font-size: 1.7rem;
  }

  #groupMediaLinks p {
    width: auto;
  }

  /* /////////////////////////// */

  /* PROJECTS */

  .showcase {
    width: 100%;
  }

  .textHalf {
    text-align: center;
  }

  .textHalf h2 {
    margin: .5rem .4rem;
  }

  .textHalf .title {
    font-size: 2.8rem !important;
  }

  .textHalf .techUsed {
    margin: 0;
  }

  .textHalf div {
    justify-content: center;
  }

  /* /////////////////////////// */

  /* CONTACT ME */

  #sectionContact .groupIntro p {
    width: 86%;
  }

  #contactForm {
    width: 100%;
    flex-wrap: wrap;
  }

  #contactForm h3 {
    font-size: 1.5rem;
    width: 100%;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
    justify-content: center;
  }

  #contactForm textarea {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom-left-radius: .35rem;
    border-bottom-right-radius: .35rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
  }

  #contactForm button {
    padding: 0;
  }

  #contactForm button span {
    right: -2.45rem;
  }

  #contactForm button span::after {
    right: 5rem;
  }

}

  /*///////////////////////////////////////////////*/
  /*// 400px 400px 400px 400px 400px 400px 400px //*/
  /*///////////////////////////////////////////////*/

@media (max-width: 400px) {
  
  /* /////////////////////////// */

  /* ABOUT ME */

  #groupAboutText h1 {
    font-size: 3rem;
    width: 87%;
    line-height: 3.8rem;
  }

  #groupAboutText h1 span {
   font-size: 3.8rem;
  }

  /* /////////////////////////// */

  /* SKILLS */

  .skillCard {
    width: 18rem;
    height: auto;
    padding: 2rem 0;
  }

  #groupSkillsLearning {
    width: 18rem;
  }

  .skillsExpanded {
    max-height: 60rem !important;
  }

  /* /////////////////////////// */

  /* PROJECTS */

  #showcaseBattleships .imageHalf div {
    background-size: 19rem;
  }

  /* /////////////////////////// */

  /* CONTACT */

  #sectionContact .groupIntro p {
    width: 90%;
  }

  /* /////////////////////////// */

  /* FOOTER */

  #footerLinks {
   width: auto;
  }
}


@media (max-width: 362px) {

  #contactForm textarea {
    font-size: .85rem;
  }
}
  
