html {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #fffafa;
}

body {
  background: #333;
  height: 100%;
  font-family: "Roboto Slab", sans-serif;
}

/*////////////////////////////////////////////////////*/

/* COLOURS */
/*

#F15152 - Red-Orange
#A4303F - Light-matte-Red
#650D1B - Dark-Scarlet
#5299D3 - Caronlina-Blue
#247BA0 - Lapis-Lazuli
#cd5c5c - Button colours (light-red)

*/

/*////////////////////////////////////////////////////*/

/* ANIMATION TOOLS */

.fadeOpacity {
  opacity: 0;
}


/*////////////////////////////////////////////////////*/

/* NAVIGATION BAR */

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
  position: fixed;
  z-index: 99999;
  transition: .5s ease;
  background: #0000001a;
  height: 3.5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 32rem;
}

nav li {
  cursor: pointer;
}

/*////////////////////////////////////////////////////*/

/* LANDING PAGE */

#landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#bkgdLandingpage {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/17.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

#landingPageContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -3rem;
}

#name {
  color: snow;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 50rem;
  text-align: center;
  line-height: 8rem;
  margin: 0.5rem;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

#hrGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 27rem;
  margin: 0 auto;
}

#hrGroup div {
  width: 1.1rem;
  height: 1.1rem;
  background: indianred;
  border-radius: 1rem;
  box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.35);
}

#landingPageContent hr {
  background: #f4f4f4;
  height: 0.25rem;
  width: 11rem;
  margin: 1rem auto;
  box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.35);
  border: none;
}

#landingPageContent p {
  margin: 0 auto;
  width: 33rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

#landingPageContent span {
  color: wheat;
}

#landingPageLinks {
  display: flex;
  width: 29rem;
  margin: 1.5rem 0 0 0;
}

.landingPageLink {
  background: #cd5c5c;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3.2rem;
  border-radius: 0.2rem;
  text-decoration: none;
  margin: 0 auto;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.landingPageLink:hover {
  background: #d16a6a;
}

#landingPageLinks p {
  font-size: 1.5rem;
  color: #fffafa;
  font-weight: 300;
}

/*////////////////////////////////////////////////////*/

/* ABOUT PAGE */

#aboutpage {
  height: 100vh;
  background: #bc4949;
}

#aboutMeContent {
  background: #cd5c5c;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 2.5rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#aboutGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#portrait {
  background-image: url("../images/aboutMe/portrait1.JPG");
  width: 16rem;
  height: 16rem;
  background-position: -1.22rem -8rem;
  background-size: 25rem;
  z-index: 123;
  border-radius: 1rem;
  border: -1px solid #333;
  box-shadow: 0 2px 2px rgba(0,0,0,0.6);
}

#aboutText {
  width: 35rem;
  text-align: justify;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  font-size: 1.4rem;
  padding: 0 2rem;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#aboutText h1 {
  font-size: 2.5rem;
}

#aboutText p {

}

#btnGoToSkills {
  display: none;
}

#aboutCardsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 36rem;
  width: 85rem;
}

.aboutCard {
  width: 25%;
  text-align: center;
  background: #983e3e;
  padding: 2rem;
  border-radius: 1rem;
  margin: 0 1rem;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#htmlCardImg {
  background: url("../images/icons/iconHtml2.png");
  height: 7rem;
  width: 7rem;
  background-position: center;
  background-size: cover;
}

#cssCardImg {
  background: url("../images/icons/iconCss.png");
}

#jsCardImg {
  background: url("../images/icons/iconJavascript.png");
}

#cssCardImg, #jsCardImg {
  height: 7rem;
  width: 7rem;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.aboutCard h1 {
  margin: 1rem 0 0 0;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////// MEDIA QUERIES | MEDIA QUERIES ////////////////////////*/
/*//////////////////////// MEDIA QUERIES | MEDIA QUERIES ////////////////////////*/
/*//////////////////////// MEDIA QUERIES | MEDIA QUERIES ////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

/* Sizez */
/*
  Wide-screen Desktop - 1440
  Desktop - 1280
  Large tablet - 1080
  landscape phone/tablet - 800
  large tablet - 768
  small tablet - 600
  phone - 480
  phone - 320
*/

/*/////////////////////////////////////////////////////////*/

/* 1080px */

@media (max-width: 1080px) {
  #name {
    text-shadow: 0 1.5px 1px rgba(0,0,0,0.5);
    width: 100%;
  }

  #landingPageContent p {
    text-shadow: 0 1.5px 1px rgba(0,0,0,0.5);
  }

  .landingPageLink {
    box-shadow: 0 1.5px 1px rgba(0,0,0,0.5);
  }
}

/*/////////////////////////////////////////////////////////*/

/* 768px */

@media (max-width: 768px) {
  #name {
    font-size: 6rem;
    line-height: 6rem;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }

  #hrGroup hr, #hrGroup div {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  #landingPageContent p {
    width: 33rem;
    font-size: 1.25rem;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }

  #landingPageLinks {
    width: 22rem;
  }

  .landingPageLink {
    width: 9.8rem;
    height: 2.8rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  }

  #landingPageLinks p {
    font-size: 1.3rem;
  }
}

/*/////////////////////////////////////////////////////////*/

/* 600px */

@media (max-width: 600px) {
  #name {
    font-size: 5rem;
    line-height: 5rem;
  }

  #hrGroup {
    width: 23rem;
  }

  #hrGroup hr {
    width: 10rem;
  }

  #hrGroup div {
    width: 1rem;
    height: 1rem;
  }

  #landingPageContent p {
    width: 28rem;
    font-size: 1.1rem;
  }
}

/*/////////////////////////////////////////////////////////*/

/* 480px */

@media (max-width: 480px) {
  #nav {
    font-size: 1rem;
  }

  nav ul {
    width: 20rem;
  }

  #name {
    font-size: 3.4rem;
    line-height: 3.6rem;
    margin: 0 0.5rem;
  }

  #hrGroup {
    width: 15rem;
    margin: 0.6rem 0;
  }

  #hrGroup hr {
    width: 6rem;
    margin: 0 auto;
  }

  #hrGroup div {
    width: 0.85rem;
    height: 0.85rem;
  }

  #landingPageContent p {
    width: 19rem;
    line-height: 1.5rem;
    font-size: 1rem;
  }

  #landingPageLinks {
    width: 20rem;
    margin: 1rem 0 0 0;
  }

  .landingPageLink {
    width: 9rem;
    height: 2.5rem;
  }

  #landingPageLinks p {
    font-size: 1.2rem;
  }

  /*//////////////////////////////////*/

  /* ABOUT ME */

  #aboutMeContent {
    height: 35rem;
    width: 100%;
    padding: 0 0 1.5rem 0;
  }

  #aboutGroup {
    flex-direction: column;
  }

  #portrait {
    background-position: -0.22rem -9rem;
    background-size: 27rem;
    width: 84%;
  }

  #aboutText {
    width: 100%;
    text-align: center;
  }

  #aboutText h1 {
    margin: 0.7rem 0;
    font-size: 3rem;
  }

  #aboutText p {
    font-size: 0.9rem;
  }

  #btnGoToSkills {
    display: flex;
    margin: 1.33rem auto;
    width: 12rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background: #bf3a3a;
    border-radius: 0.6rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    font-size: 1.5rem;
  }

  #aboutCardsGroup {
    height: 75.5rem;
    flex-direction: column;
    width: auto;
  }

  .aboutCard {
    width: 84%;
    margin: 1rem;
  }

  .aboutCard h1 {
    font-size: 1.8rem;
  }

  .aboutCard hr {
    width: 7rem;
    margin: 0.5rem;
  }

  .aboutCard p {
    font-size: 0.75rem;
  }

  .aboutCard:hover {
    background: #8a3838;
  }
}

/*/////////////////////////////////////////////////////////*/

/* 320px */

@media (max-width: 320px) {
  #nav {
    font-size: 0.8rem;
  }

  nav ul {
    width: 15rem;
  }

  #name {
    font-size: 3rem;
    line-height: 3rem;
  }

  #hrGroup {
    width: 13rem;
  }

  #hrGroup hr {
    width: 5rem;
    height: 0.2rem;
  }

  #hrGroup div {
    width: 0.7rem;
    height: 0.7rem;
  }

  #landingPageContent p {
    width: 13rem;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }

  #landingPageLinks {
    width: 16rem;
    margin: 1rem 0 0 0;
  }

  .landingPageLink {
    width: 7rem;
    height: 2.2rem;
  }

  #landingPageLinks p {
    font-size: 0.9rem;
  }

  /*//////////////////////////////////*/

  /* ABOUT ME */

  #aboutMeContent {
    height: 34rem;
    width: 100%;
  }

  #aboutGroup {
    flex-direction: column;
  }

  #portrait {
    width: 17rem;
    height: 17rem;
  }

  #aboutText {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  #aboutText h1 {
    margin: 0.7rem 0;
    font-size: 2rem;
  }

  #aboutText p {
    font-size: 0.75rem;
  }

  #aboutCardsGroup {
    height: 26.5rem;
    flex-direction: column;
    width: auto;
  }

  .aboutCard {
    width: 84%;
    height: 90%;
    margin: 1rem;
  }

  .aboutCard h1 {
    font-size: 1.8rem;
  }

  .aboutCard hr {
    width: 7rem;
    margin: 0.5rem;
  }

  .aboutCard p {
    font-size: 0.75rem;
  }

  .aboutCard:hover {
    background: #8a3838;
  }

  #cssCard, #jsCard {
    display: none;
  }
}
