html {
  height: 100%;
  overflow: visible;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #15202b;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
}

p, h1, h2 {
  user-select: none;
}

.groupIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.groupIntro h1 {
  font-size: 3em;
}

.groupIntro hr {
  height: .2em;
  border: none;
  width: 8em;
  margin: 1em 0;
}

.groupIntro p {
  width: 33em;
  text-align: center;
  font-size: 1.1em;
}

.header {
  font-weight: 300;
  font-size: 2.2em;
  margin: 1em 0 0;
  color: #15202b;
  font-weight: 300;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

/* /////////////////////////////////////////////////// */

/* NAVIGATION BAR */

/* Globals */

.active {
  color: #15202b;
}

/* Non-Gobals */

nav {
  background: #fff;
  height: 6em;
  display: flex;
  font-weight: 500;
}

#navGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav #brand {
  font-size: 1.8em;
  font-weight: 300;
  color: #15202b;
}

nav ul {
  display: flex;
  position: relative;
}

nav ul li a {
  margin: 0 1em;
  color: #212529ad;
}

#btnContactMe {
  background: #20c997;
  color: white;
  padding: 0.4em .8em;
}

#navHamburger {
  display: none;
}

#navGroup div {
  display: none;
}

/* Animation */

#underline {
  width: 2.5em;
  height: .15em;
  background: #212529;
  border: none;
  position: absolute;
  top: 1.35em;
  left: 1.16em;
  transition: .5s ease;
}

/* /////////////////////////////////////////////////// */

/* ABOUT ME */

#sectionAboutMe {
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portrait {
  background: url("../images/aboutMe/portrait.jpg");
  height: 20em;
  width: 20em;
  background-position: center;
  background-size: cover;
  border-radius: .25em;
}

#groupAboutText {
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 1.6em;
  color: #fff;
}

#groupAboutText h1 {
  font-size: 7em;
}

#groupAboutText h1 span {
  color: #20c997;
}

#groupAboutText p {
  width: 37.7em;
  padding: 0 0 0 .5em;
  font-size: 1.1em;
}

#groupMediaLinks {
  margin: 1.1em 0 0 .55em;
  width: 10em;
  display: flex;
  justify-content: space-between;
}

.mediaLinks {
  font-size: 2.5em;
}

.mediaLinks:hover {
  cursor: pointer;
  color: #20c997;
}

/* /////////////////////////////////////////////////// */

/* SKILLS */

#sectionSkills {
  background: #f4f4f4;
  padding: 4.5rem 0;
}

#groupSkills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0;
}

#sectionSkills .groupIntro {
  color: #15202b;
}

#sectionSkills .groupIntro hr {
  background: #15202b;
}

#groupSkills #tip {
  color: #000000a3;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

#groupSkills span {
  font-weight: 600;
  color: #15202b;
}

.skillCard {
  background: #fff;
  width: 20em;
  height: 20em;
  margin: 4em 0 2em;
  border-radius: .25em;
  box-shadow: 0 0.125em .25em rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillCard h1, .skillCard p, .skillCard b {
  color: #15202b;
}

.skillCard i {
  color: #fff;
  background: #20c997;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2.5rem;
}

.skillCard hr {
  width: 3em;
  height: .11em;
  background: #212529;
  border: none;
  margin: 1em;
}

.skillCard p {
  text-align: center;
  width: 80%;
  font-size: 1.1em;
}

#iconHTML, #iconCSS {
  padding: .13em 0 0;
  font-size: 3.5em;
}

#iconJS {
  font-size: 2.8em;
}

#groupSkillsLearning {
  width: 65.5em;
  background: #fff;
  border-radius: .25em;
  height: 4.5em;
  margin: 2em 2em 0;
  box-shadow: 0 0.125em .25em rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
}

#groupSkillsLearning i {
  color: #20c997;
  font-size: 3em;
  transform: rotate(0deg);
  transition: .5s ease;
}

/* Skills Learning Animations */

.skillsExpanded {
  height: 20em !important;
  transition: .5s ease;
}

.skillsExpanded i {
  transform: rotate(180deg) !important;
}

/* /////////////////////////////////////////////////// */

/* PROJECTS */

/* CLASS STYLING */

#sectionProjects {
  padding: 4.5rem 0;
}

#sectionProjects .groupIntro {
  color: #fff;
}

#sectionProjects .groupIntro hr {
  background: #fff;
}

#groupProjects {
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.showcase {
  margin: 2.5rem 0;
  height: 30rem;
  width: 50rem;
  background: #fff;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 10%;
  box-shadow: 0 .5px 2px rgba(0,0,0,0.3);
}

.imageHalf {
  position: relative;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.textHalf {
  padding: 1.5rem;
  color: #15202b;
}

.textHalf .title {
  font-size: 4rem;
  text-shadow: 0 .5px 1px rgba(0,0,0,0.1);
  font-weight: 300;
}

.textHalf h2 {
  font-size: 1rem;
  color: #00000059;
  margin: 0 .4rem;
}

.textHalf p {
  margin: .6rem .4rem 1rem;
  text-shadow: 0 .5px 1px rgba(0,0,0,0.1);
}

.textHalf .techUsed {
  font-size: 2rem;
  color: #15202b;
  font-weight: 300;
  margin-left: .4rem;
}

.textHalf div {
  display: flex;
  align-items: center;
  margin: 1rem .4rem;
}

.textHalf div i {
  color: #20c997;
  background: #15202b;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .25rem;
}

.textHalf #iconJS {
  font-size: 3.5rem;
}

.textHalf #iconAdobe {
  font-size: 4rem;
}

.projectLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-shadow: 0 .5px 1px rgba(0,0,0,0.1);
  border-top: 2px solid rgba(0,0,0,.02);
}

.liveDemo {
  background:#252f3a;
  color:#fff;
}

.liveDemo:hover {
  background: #1b252f;
}

.githubVersion {
  background: #dedede;
  color: #15202b;
}

.githubVersion:hover {
  background: #80dbc0;
}

/***********************************/
/* INDIVIDUAL PROJECT STYLING */

/* RUN */

#showcaseRun .imageHalf {
  background: url("../images/run.png");
  background-position: -6rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/* UNIQUE WORDS */

#showcaseUniqueWords .title {
  font-size: 3.2rem;
}

#showcaseUniqueWords .imageHalf {
  background: #f4f4f4;
}

#showcaseUniqueWords .imageHalf div {
  background: url("../images/uniqueWords.png");
  background-position: center;
  background-size: 18rem;
  background-repeat: no-repeat;
}

/* CALCULATOR */

#showcaseCalculator .imageHalf {
  background: #ff4b28;
}

#showcaseCalculator .imageHalf div {
  background: url("../images/calculator.png");
  background-position: center;
  background-size: 18rem;
  background-repeat: no-repeat;
}

/* GOBLIN CATCHER */

#showcaseGoblinCatcher .title {
  font-size: 3.2rem;
}

#showcaseGoblinCatcher .imageHalf div {
  background: url("../images/goblinCatcher.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*///////////////////////////////////////////////////////*/

/**/

#sectionContact {
  background: #f4f4f4;
  padding: 4.5rem 0;
}

#sectionContact .groupIntro {
  color: #15202b;
}

#sectionContact .groupIntro hr {
  background: #15202b;
}

#contactForm {
  margin: 2.5rem auto 0;
  display: flex;
  flex-direction: column;
  width: 31.25rem;
}

#contactForm input, #contactForm textarea, #contactForm button {
  width: 100%;
  margin: .2rem 0 0 0;
  border: none;
  font-size: 1rem;
  padding: .65rem .9rem;
  box-shadow: 0 0.125em .25em rgba(0, 0, 0, 0.1);
  background: #fff;
}

#contactForm button {
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
  background: #15202b;
  color: #20c997;
  margin-top: .5rem;
}

/*//////////////////////////////////////////////////////*/

/* FOOTER */

#sectionFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16rem;
}

#copyright {
  text-align: center;
  color: #20c997;
}

#footerLinks {
  display: flex;
  justify-content: space-around;
  width: 20rem;
  margin: 2.5rem auto;
}

#footerLinks i, #footerLinks a {
  background: #20c997;
  color: #15202b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerLinks i {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
}

#footerLinks a {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#footerLinks i:hover, #footerLinks a:hover {
  background: #15202b;
  color: #20c997;
  border: solid 3px #20c997;
  cursor: pointer; 
}

#footerLinks a:hover {
  padding: 0 .81rem;
}

/*

@media all and () 
1200 - 1140
992 - max 960
786 - max 720
576 - max 540

*/

@media all and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  #portrait {
    width: 18rem;
    height: 18rem;
  }
  
  #groupAboutText h1 {
    font-size: 6rem;
  }

  #groupAboutText p {
    width: 37rem;
  }
}

@media all and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  #portrait {
    width: 16rem;
    height: 16rem;
  }

  #groupAboutText h1 {
    font-size: 4.8rem;
  }

  #groupAboutText p {
    width: 29rem;
  }
}

@media all and (max-width: 786px) {
  .container {
    max-width: 720px;
  }

  nav {
    position: fixed;
    z-index: 50;
    width: 100%;
  }

  #navGroup div {
    display: block;
    background: white;
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav i, nav h1 {
    z-index: 1;
  }

  nav i {
    display: block;
    font-size: 2rem;
    padding-right: 1rem;
  }

  nav ul hr {
    display: none;
  }

  nav ul {
    position: absolute;
    top: -100vh;
    left: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    background: #f4f4f4;
    z-index: -1;
    transition: .8s;
  }

  #navItems li:nth-child(1) {
    margin: 6rem 0 0;
  }

  #btnContactMe {
    background: none;
    color: #212529ad;
  }

  #navHamburger {
    display: block;
  }

  /* Nav Animation Classes */
  
  .navExpanded {
    top: 0rem !important;
  }

  /* ABOUT ME */

  #sectionAboutMe {
    padding-top: 6rem;
    height: 43.5rem;
    flex-direction: column;
  }

  #portrait {
    width: 14.5rem;
    height: 14.5rem;
  }

  #groupAboutText {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  #groupAboutText h1 {
    width: 20rem;
    line-height: 4.5rem;
    margin: .5rem 0;
    font-size: 4rem;
  }

  #groupAboutText h1 span {
    font-size: 4.8rem;
  }

  #groupAboutText p {
    margin: .5rem 0;
    width: 33rem;
  }

  #groupMediaLinks {
    margin: 1.1rem 0 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  body {
    /* background: red; */
  }

  #sectionAboutMe {
    height: 46rem;
  }

  #groupAboutText p {
    width: 22rem;
  }
}

  
