html {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #fffafa;
}

body {
  background: #333;
  height: 100%;
  font-family: "Roboto Slab", sans-serif;
}

/*////////////////////////////////////////////////////*/

/* NAVIGATION BAR */

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
  margin: 1rem 0;
  position: fixed;
  z-index: 99999;
  transition: .5s ease;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 32rem;
}

/*////////////////////////////////////////////////////*/

#credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

#credits h1 {
  margin: 0 0 2rem 0;
  font-size: 3rem;
}

.accreditation {
  width: 23rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0 ;
}

.accreditation img {
  width: 5rem;
}

.accreditation p {
  width: 14rem;
}
